@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
}

.container {
    max-width: 1200px;
    margin: 0% auto;
}

header {
    background-image: url(imagenes/1000_F_559571094_ekvi3m0qq9sPEsv8UwbDh6jnpoghAZas.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    align-items: center;
    display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}
.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    float: left;
}

.header-txt {
    text-align: center;
}
.header-txt h1 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.header-txt p {
    color: rgb(30, 26, 26);
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.btn-1 {
   display: inline-block;
   padding: 12px 45px;
   border: 1px solid white; 
   color: white;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 600;
}

.btn-1:hover {
    color:white;
    background-color: white;
}

.general {
    padding: 50px 0;
    text-align: justify;
    color: white
}

.general-content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    color: white;
}

.info-1 {
    padding: 50px 0;
    text-align: justify;
    background-color: antiquewhite;
}

.info-3 {
    text-align: center;
    background-color: antiquewhite;
}

.info-4 {
    text-align: center;
    background-color: antiquewhite;
}

.info-5 {
    text-align: center;
}